.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
  text-align: center;
  width: 30%;
  /* margin: 10%; */
}

.right {
  /* margin: 10%; */
  width: 60%;
  text-align: center;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;

  button {
    padding: 20px;
  }
}

.forecast-container {
  width: 80%;
  margin: auto;
}